.container {
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  flex-direction: column;
  background-color: rgb(17 24 39)
}

.header {
  display: flex;
  flex-direction: column;
}

.backToHome {
  margin: 3rem 0 0;
}

.home {
  font-weight: bold;
  font-size: 20px;
  color: rgb(129 140 248);
  text-decoration: none;
}

.site_header {
  position: relative;
}

.site_header_wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 0;
      padding-bottom: 0;
}

.nav_wrapper {
    display: flex;
}

.nav_item_li {
  display:list-item;
  list-style-type: none;
}

.nav_item_a {
  display: block;
  padding: 0.2rem 0.2rem;
  color: rgb(129 140 248);
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

